:root {
  --moradoOscuro: #27005d;
  --moradoIntermedio: #9400ff;
  --celesteIntermedio: #aed2ff;
  --celesteSuave: #e4f1ff;

  --plomoSuave: #f0f0f0;
  --azulOscuro: #213555;
  --azulIntermedio: #4f709c;
  --amarilloIntermedio: #e5d283;
}
body {
  background-color: var(--celesteSuave);
}

.principal {
  width: 90%;
  padding-top: 70px;
  margin: auto;
  /*background-color:aqua;/**/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-principal {
  width: 100%;
  height: 50px;
  /*background-color: #E5D283;/**/
}
.titulo-principal h1 {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: var(--azulOscuro);
  margin-bottom: 10px;
}
.tarjetas {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: #4F709C;/**/
  height: 200px;
}
.tarjeta {
  width: 24%;
  height: 100%;
  /*background-color: #F0F0F0;/**/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tarjeta img {
  width: 100%;
  height: 140px;
}
.tarjeta img:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.tarjeta h2 {
  font-size: 18px;
  text-align: center;
  color: var(--azulOscuro);
}
.tarjeta h2:hover {
  text-shadow: 0 0 10px rgb(0, 0, 0);
  cursor: default;
}

.secundario {
  width: 100%;
  margin: auto;
  /*background-color: #E5D283;/**/
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
.secundario .titulo-secundario {
  text-align: center;
  color: var(--azulOscuro);
  font-size: 30px;
  font-weight: bold;
  margin: 50px 0;
}
.parrafo {
  text-align: justify;
  line-height: 2em;
}
.contenedor-video {
  margin: 50px 0;
  padding-top: 10px;
  width: 50%;
  height: 260px;
  align-self: center;
  /*background-color: #9400FF;*/
}
.video {
  width: 100%;
}
.video:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .principal {
    margin-top: 60px;
    padding-top: 25px;
  }

  .titulo-principal {
    font-size: 14px;
  }

  .tarjetas {
    margin-top: 20px;
    width: 80%;
    /*display: flex;*/
    flex-direction: column;
    justify-content: start;
    height: 670px;
  }
  .tarjeta {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .contenedor-video {
    width: 100%;
    height: 120px;
  }

  .video {
    height: 168px;
    width: 100%;
  }
}
