@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&family=Rubik:wght@300;400;500;600;700;800&display=swap");
:root {
  --bg-text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%),
    0 8px 16px rgb(13 0 77 / 8%);
  --bg-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.621);
}

*::-webkit-scrollbar {
  width: 0.4rem;
}
*::-webkit-scrollbar-track {
  background: #06062c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* section Navbar */
nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #ececec;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

nav ul {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #42444a;
}

ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

ul li:hover::after {
  content: "";
  position: absolute;
  display: flex;
  width: 30px;
  height: 3px;
  /* display: none; */
  transition: ease 2s;
}

.logo-container {
  height: 90%;
  display: flex;
  justify-content: center;
}

.logo-container p {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #42444a;
  text-shadow: var(--bg-text-shadow);
}

.logo {
  height: 100%;
}

.open-menu {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  color: inherit;
}

/* fin Navbar */

/* Footer */
.footer {
  background-color: #555;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 14px;
}

.developer {
  font-size: 12px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  nav {
    margin-top: -60px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  }

  ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .menu {
    display: none; /* Oculta el menú de escritorio en pantallas pequeñas */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  /* menú se presenta como una lista centrada
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    top: 45px;
    left: auto;
    right: 0;
    background-color: #1c1c1c;
    padding: 10px;
    opacity: 1;
  }
  */
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    gap: 2rem;
    padding: 2rem;
    background-color: #333;
    opacity: 1;
  }

  .open-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    color: #42444a;
  }

  .logo-container p {
    font-size: 0.9em;
  }
  .footer-content {
    flex-direction: column;
  }

  .copyright,
  .developer {
    margin-top: 10px;
    font-size: 12px;
  }
}
